@{
    //ViewBag.Title = "Home Page";
    <title ng-bind="AngularTest"></title>
}

    <div class="jumbotron marble">
        @*<input type="text" placeholder="Change Page Title!" wa ng-model="AngularTest" />*@
        <h2 class="col-md-12 text-center">{{MyAngular}}</h2>
        <div ng-controller="OrderSearch">
            <div>
                @*<form name="form" ng-submit="submitForm()">*@
                @*<button class="btn-group-lg" ng-click="getData()">Fire API Call</button>*@
                <button class="btn-group-lg btn-info btn-block" ng-click="callAPI()">See Some JSON!</button>
            </div>
            <br />
            <label class="text-left">{{MyAPIReturn}}</label>
        </div>
        @*</form>*@
    </div>

<div class="row">
    <div class="col-md-6">
        <form action="@Url.Action("OrderSearch","Home")">
            <h2 class="text-center">Order Searching</h2>
            <button class="btn btn-group-lg btn-primary btn-block">Search</button>
        </form>
    </div>
    <div class="col-md-6">
        <form action="@Url.Action("OrderDetail","Home")">
            <h2 class="text-center">Order Details</h2>
            <button class="btn btn-group-lg btn-primary btn-block">Details</button>
        </form>
    </div>
</div>