@{
    ViewBag.Title = "Order Detail";
}

<div class="jumbotron marble">
    <div ng-controller="OrderSearch">
        <div class="nav" >
            @*<li ng-repeat="">

            </li>*@
            <button class="btn-group-sm" ng-model="callAPI()" ng-click="callAPI()">Fire API Call</button>
        </div>
        <div>
            <p>{{MyAPIReturn}}</p>
        </div>
    </div>
</div>