@{
    ViewBag.Title = "Order Search";
}

<div class="jumbotron marble">
    <div ng-controller="OrderSearch">
        <button class="btn-group-lg" ng-click="callAPI()">Fire API Call</button>
        <p>{{MyAPIReturn}}</p>
    </div>
</div>