################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevCanTest/.vs
/DevCanTest/DevCanTest/bin
/DevCanTest/DevCanTest/obj/Debug
/DevCanTest/packages
