################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevCanTest/.vs
/DevCanTest/DevCanTest/bin
/DevCanTest/DevCanTest/obj/Debug
/DevCanTest/packages

# Microsoft Azure ApplicationInsights config file
ApplicationInsights.config
/DevCanTest/node_modules/ag-grid
/DevCanTest/node_modules
